<div class="col-xl-3 col-md-6 mb-4">
    <button class="btn btn-lg btn-outline-primary" (click)="open(editProfileModal)">New Patient</button>
</div>

<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>CPF</th>
                <th>RG</th>
                <th>PatID</th>
                <th>PHONE</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let patient of patients | slice: pageSize | slice: 0:itemsPerPage">
                <td>{{ patient.id }}</td>
                <td>{{ patient.name }}</td>
                <td>{{ patient.cpf }}</td>
                <td>{{ patient.rg }}</td>
                <td>{{ patient.patId }}</td>
                <td>{{ patient.phoneMobile }}</td>
                <td>
                    <button type="button" class="btn btn-warning btn-sm" (click)="editPatient(editProfileModal,patient)">Edit</button>
                    <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deletePatient(patient)">Delete</button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7">
                    <ngb-pagination [collectionSize]="patients.length" #numPages [pageSize]="itemsPerPage" [(page)]="currentPage" (pageChange)="onPageChange(currentPage)"></ngb-pagination>
                </td>
            </tr>
        </tfoot>
    </table>
</div>


<!--patId=33445566&name=Fulano%20da%20Silva&sex=M&birthDate=01%2F04%2F2000&bloodGroup=O-&cpf=191.807.130-68&rg=778899652&email=fulano%40mail.com&phoneMobile=(51)%2099988-7766&placeOfBirth=Porto%20Alegre -->
<ng-template #editProfileModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Create/Edit Patient</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="editProfileForm">
            <div class="form-group">
                <label for="name">Name</label>
                <div class="input-group">
                    <input id="id" class="form-control" formControlName="id" type="hidden">
                    <input id="name" class="form-control" required formControlName="name" type="text">
                </div>
            </div>
            <div class="form-group">
                <label for="phoneMobile">Phone Mobile</label>
                <div class="input-group">
                    <input id="phoneMobile" class="form-control" required formControlName="phoneMobile" type="text">
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <div class="input-group">
                    <input id="email" class="form-control" required formControlName="email" type="text">
                </div>
            </div>
            <div class="form-group">
                <label for="cpf">CPF</label>
                <div class="input-group">
                    <input id="cpf" class="form-control" required formControlName="cpf" name="cpf">
                </div>
            </div>
            <div class="form-group">
                <label for="rg">RG</label>
                <div class="input-group">
                    <input id="rg" class="form-control" required formControlName="rg" name="rg">
                </div>
            </div>
            <div class="form-group">
                <label for="sex">SEX</label>
                <div class="input-group">
                    <select class="form-control" id="sex" required name="sex" formControlName="sex">
                        <option value="M">M</option>
                        <option value="F">F</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="birthDate">Birth Date</label>
                <div class="input-group">
                    <input id="birthDate" class="form-control" name="birthDate" ngbDatepicker #birthDate="ngbDatepicker" formControlName="birthDate">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="birthDate.toggle()" type="button"></button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="placeOfBirth">Local of birth</label>
                <div class="input-group">
                    <input id="placeOfBirth" class="form-control" required name="placeOfBirth" formControlName="placeOfBirth">
                </div>
            </div>
            <div class="form-group">
                <label for="bloodGroup">Blood Group</label>
                <div class="input-group">
                    <input id="bloodGroup" class="form-control" required name="bloodGroup" formControlName="bloodGroup">
                </div>
            </div>
            <div class="form-group">
                <label for="patId">Pat ID</label>
                <div class="input-group">
                    <input id="patId" class="form-control" formControlName="patId" name="patId">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
        <button type="submit" class="btn btn-primary" (click)="onSave()">Save changes</button>
    </div>
</ng-template>