<div class="col-xl-3 col-md-6 mb-4">
    <button class="btn btn-lg btn-outline-primary" (click)="open(editProfileModal)">New Study</button>
</div>

<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>PatientName</th>
                <th>MODALITY</th>
                <th>AccNumber</th>
                <th>DATE</th>
                <th>CRM</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let study of studies | slice: pageSize | slice: 0:itemsPerPage">
                <td>{{ study.id }}</td>
                <td>{{ study.patientName }}</td>
                <td>{{ study.modality }}</td>
                <td>{{ study.accNumber }}</td>
                <td>{{ study.date }}</td>
                <td>{{ study.crmPhysician }}</td>
                <td>
                    <button type="button" class="btn btn-warning btn-sm" (click)="editStudy(editProfileModal,study)">Edit</button>
                    <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteStudy(study)">Delete</button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7">
                    <ngb-pagination [collectionSize]="studies.length" #numPages [pageSize]="itemsPerPage" [(page)]="currentPage" (pageChange)="onPageChange(currentPage)"></ngb-pagination>
                </td>
            </tr>
        </tfoot>
    </table>
</div>


<ng-template #editProfileModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Create/Edit Study</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="editProfileForm">
            <div class="form-group">
                <label for="description">Description</label>
                <div class="input-group">
                    <input id="description" class="form-control" required formControlName="description" name="description">
                </div>
            </div>
            <div class="form-group">
                <label for="crmPhysician">Crm Physician</label>
                <div class="input-group">
                    <input id="crmPhysician" class="form-control" required formControlName="crmPhysician" name="crmPhysician">
                </div>
            </div>
            <div class="form-group">
                <label for="date">Date</label>
                <div class="input-group">
                    <input id="date" class="form-control" required name="date" ngbDatepicker #date="ngbDatepicker" formControlName="date">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="date.toggle()" type="button"></button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="modality">Modality</label>
                <div class="input-group">
                    <input id="modality" class="form-control" name="modality" required formControlName="modality">
                </div>
            </div>
            <div class="form-group">
                <label for="accNumber">accNumber</label>
                <div class="input-group">
                    <input id="accNumber" class="form-control" name="accNumber" required formControlName="accNumber">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
        <button type="submit" class="btn btn-primary" (click)="onSave()">Save changes</button>
    </div>
</ng-template>